**what is datastructure**
-  data structure is a collection of data values
**we have 4 type datastructures in python**
- list
- tuple
- sets
- Dictionaries

**List**
- list is a collection of elements or data values
- list is ordered data indexed
- list allows duplicates
- list is a mutable
- list is considered with []
- we have direct function that is list()
- list is hetrogenious

In [14]:
li=[]
li2=list()
print(type(li))
print(type(li2))

<class 'list'>
<class 'list'>

In [39]:
li=[1,2,3,4,5,6,"ravikishore"]
li

[1, 2, 3, 4, 5, 6, 'ravikishore']

In [19]:
li[6]

'ravikishore'

In [18]:
[1, 2, 3, 4, 5, 6, "ra..re"]
[0  1  2  3  4  5   6]

2

In [40]:
li[1]="kishore"

In [41]:
li

[1, 'kishore', 3, 4, 5, 6, 'ravikishore']

In [24]:
print(dir(list),end="")

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

**append**
- append works add the new elements at end of the list position

In [42]:
li

[1, 'kishore', 3, 4, 5, 6, 'ravikishore']

In [43]:
li.append(10)
li

[1, 'kishore', 3, 4, 5, 6, 'ravikishore', 10]

In [44]:
li.append([11,12])
li

[1, 'kishore', 3, 4, 5, 6, 'ravikishore', 10, [11, 12]]

In [46]:
li[8][1]

12

**adding multiple elements at time in individual**

In [47]:
li3=[13,14,15]
li.extend(li3)
li

[1, 'kishore', 3, 4, 5, 6, 'ravikishore', 10, [11, 12], 13, 14, 15]

**adding elements at wanted position**

In [51]:
li.insert(6,"chennareddy")

In [52]:
li

['chennareddy',
 1,
 'kishore',
 3,
 4,
 5,
 'chennareddy',
 6,
 'ravikishore',
 10,
 [11, 12],
 13,
 14,
 15]

**sort**
- ordering the data based on unicode

In [71]:
li4=[1,10,34,2,67,98,23,1,2,10]
li4

[1, 10, 34, 2, 67, 98, 23, 1, 2, 10]

In [72]:
li4.sort()
li4.reverse()
li4

[98, 67, 34, 23, 10, 10, 2, 2, 1, 1]

In [73]:
li4=li4[::-1]

In [74]:
li4

[1, 1, 2, 2, 10, 10, 23, 34, 67, 98]

In [75]:
li4.sort(reverse=True)

In [76]:
li4

[98, 67, 34, 23, 10, 10, 2, 2, 1, 1]

In [77]:
li4[4:7]

[10, 10, 2]

**copy**
**index**
**count**

In [81]:
li4.count(1)

2

In [79]:
len(li4)

10

In [90]:
li4

[98, 67, 34, 23, 10, 10, 2, 2, 1, 1]

In [95]:
li5=[1,2,3,4,5,2,3]
   #[0 1 2 3 4 5 6]

In [100]:
li5.index(2,2) #(value, start position)

5

In [85]:
li4[0]

98

In [105]:
li6 = li5

In [108]:
print(li6)
print(id(li6))

[1, 2, 3, 4, 5, 2, 3]
2230147032776

In [109]:
print(li5)
print(id(li6))

[1, 2, 3, 4, 5, 2, 3]
2230147032776

In [110]:
li6.append("add")

In [111]:
print(li6)
print(li5)

[1, 2, 3, 4, 5, 2, 3, 'add']
[1, 2, 3, 4, 5, 2, 3, 'add']

In [113]:
li7=li6.copy()

In [115]:
print(li7)
print("li7 location ",id(li7))
print(li6)
print("li6 location ",id(li6))

[1, 2, 3, 4, 5, 2, 3, 'add']
li7 location  2230147077512
[1, 2, 3, 4, 5, 2, 3, 'add']
li6 location  2230147032776

In [116]:
li7.append("copy method")
print(li7)
print(li6)

[1, 2, 3, 4, 5, 2, 3, 'add', 'copy method']
[1, 2, 3, 4, 5, 2, 3, 'add']

**pop**
**remove**
**clear**

In [119]:
a="ravikishore"
b="kishore"
print(id(a))
print()
print(id(b))
c=["ravikihsore","kishore"]
print()
print(id(c))

2230115081008

2230114401840

2230146988552

In [120]:
li5

[1, 2, 3, 4, 5, 2, 3, 'add']

**pop**<br>
**terminate the data based on given position**

In [126]:
li5.pop(3)

5

**remove**
- terminate the values

In [163]:
li6

[1, 2, 2, 3]

In [157]:
li6.remove(3)

In [162]:
li6

[1, 2, 2, 3]

In [161]:
li6.remove(1,2)

TypeError: remove() takes exactly one argument (2 given)

In [164]:
li6.clear()

In [165]:
li6

[]

In [166]:
del(li6)

In [167]:
li6

NameError: name 'li6' is not defined

In [168]:
li

[1, 2, 3, 4, 5, [10, 12]]

In [172]:
l=li[5][1]

In [173]:
li.remove(l)

ValueError: list.remove(x): x not in list

In [194]:
for i in li[3]: #10,12
    li[3].remove(12)
print(li)

[1, 2, 5, [10]]

In [192]:
li

[1, 2, 5, [10, 12]]

In [193]:
li.index([10,12])

3

In [196]:
li.append([11,13])

In [197]:
li

[1, 2, 5, [10], [11, 13]]

In [199]:
li[4].remove(13)

In [201]:
li

[1, 2, 5, [10], [11]]