In [14]:
l=[1,2,4,[12,10]]
l.pop(3)
l.append(10)
l

[1, 2, 4, 10]

In [4]:
l=[1,2,4,[12,10]]
l[3].remove(12)
l.extend(l[3])
l.pop(3)
l

[1, 2, 4, 10]

In [15]:
l=[1,2,4,[12,10]]
l.append(l[3][0])
l.pop(3)
l

[1, 2, 4, [12, 10], 12]

In [9]:
# input [1,2,3,4,5,6,1,2,3]
# output [1,2,3,4,5,6]

3

In [21]:
li=[1,2,3,4,1,2,3,6]
emptylist=[]
for i in li: 
    if i not in emptylist:
        emptylist.append(i)
emptylist

[1, 2, 3, 4, 6]

In [33]:
ul=input().split()
el=[]
for i in ul:
    i=int(i)
    if i not in el:
        el.append(i)
el

1 2 3 4 5 1 2 3

[1, 2, 3, 4, 5]

In [35]:
li=[1,2,3,4,[1,2,3],(1,2,3)]

**sets**
- set is also collection values
- it is also mutable
- set is unordered data
- set represented with "{}"
- direct function for set is set()
- sets doesn't allow duplicates

In [39]:
s={1,2,3,4,4,5,6}
s

{1, 2, 3, 4, 5, 6}

In [40]:
li=[1,2,3,4,1,2,3,6]
li=list(set(li))
li

[1, 2, 3, 4, 6]

In [41]:
li[0]

1

In [43]:
s={1,2,3,4,4,5,6}
s

{1, 2, 3, 4, 5, 6}

In [44]:
s[0] # set is unordered data

TypeError: 'set' object is not subscriptable

In [45]:
print(dir(set),end=" ")

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

**add**<br>
**update**<br>

In [81]:
s={1,2,3,4,"a"}

In [82]:
s.add("k")
print(s)
s

{1, 2, 3, 4, 'k', 'a'}

{1, 2, 3, 4, 'a', 'k'}

In [83]:
s.update({5,6,7,8,"i"})
s

{1, 2, 3, 4, 5, 6, 7, 8, 'a', 'i', 'k'}

**pop**
**remove**
**discard**

In [84]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 'a', 'i', 'k'}

In [80]:
s.pop()

KeyError: 'pop from an empty set'

In [85]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 'a', 'i', 'k'}

In [87]:
s.remove(6)

In [88]:
s

{1, 2, 3, 4, 5, 7, 8, 'a', 'i', 'k'}

In [90]:
s.discard(5)
s

{1, 2, 3, 4, 7, 8, 'a', 'i', 'k'}

In [91]:
s.remove(6)

KeyError: 6

In [92]:
s.discard(6)

In [93]:
s

{1, 2, 3, 4, 7, 8, 'a', 'i', 'k'}

**union**<br>
**intersection**<br>
**difference**<br>

In [97]:
s1={1,2,3,4}
s2={4,5,6,1,2}
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [98]:
s1.intersection(s2)

{1, 2, 4}

In [100]:
s1.difference(s2)

{3}

In [101]:
s2.difference(s1)

{5, 6}

**issuperset**
**issubset**
**isdisjoint**

In [135]:
s3={2,5,7,9}
s4={2,9,4}
s3.issuperset(s4)

False

In [103]:
s4.issubset(s3)

True

In [110]:
s5={1,2,3,4}
s6={5,6,7,8}
s5.isdisjoint(s6)

True

In [117]:
s3

{2, 5, 7, 9}

In [118]:
s4

{2, 4, 9}

In [119]:
print(s3.issuperset(s4))
print()
print(s4.issubset(s3))

False

False

**symmetric_difference**

In [121]:
s3

{2, 5, 7, 9}

In [122]:
s4

{2, 4, 9}

In [123]:
s3.symmetric_difference(s4)

{4, 5, 7}

In [136]:
print(s3)
print("location of s3 ",id(s3))
print()
print(s4)
print("location of s4 ",id(s4))
print()
print(s3.intersection(s4))
print("location of s3 intersection of s4 ",id(s3.intersection(s4)))
print()
print("after intersection method s3 ", s3)

{9, 2, 5, 7}
location of s3  2234549821512

{9, 2, 4}
location of s4  2234549822856

{9, 2}
location of s3 intersection of s4  2234549822408

after intersection method s3  {9, 2, 5, 7}

In [ ]:
**intersection_update**<br>
**differnce_update**<br>
**symmentric_differnce_update**

In [134]:
print("before updatemethod of s3",s3)
print()
print("before update method of s4",s4)
print()
s3.intersection_update(s4)
print("after update method of s3",s3)
print()
print("after update method of s4",s4)

before updatemethod of s3 {9, 2, 5, 7}

before update method of s4 {9, 2, 4}

after update method of s3 {9, 2}

after update method of s4 {9, 2, 4}

In [130]:
s3={1,2,3,4}
s4={3,4}
s4.intersection_update(s3)

{2, 9}