In [12]:
li=[1,2,3,[1,2,3],(1,2,3)]
count=0
for i in li: #1 2 3 [1,2,3]
    i=str(i)
    for j in i: #i=1
        if j.isdigit():
            if j=="2":
                count+=1
                #print(j)
    
count

3

**dictionary**
- dictionary is a collection of items
- pair of key and value is called item
- it is also unordered data
- we have seperate key value pair by using ":"
- seperate items by using ","
- it is also mutable
- we can represented with "{}"
- we have direct function that is "dict()"
- key must be unique value may have duplicates

In [150]:
d={"key":"value","key1":"value1",1:["one",1],(2,"two"):2,3.8:"float"}
e={}
print(type(d))
print()
print(type(e))
d

<class 'dict'>

<class 'dict'>

{'key': 'value', 'key1': 'value1', 1: ['one', 1], (2, 'two'): 2, 3.8: 'float'}

In [18]:
d

{'key': 'value', 'key1': 'value1', 1: ['one', 1], (2, 'two'): 2}

In [22]:
d[0]

KeyError: 0

In [25]:
d["key1"]

'value1'

In [26]:
d["key1"]="modifiedable"

In [27]:
d

{'key': 'value',
 'key1': 'modifiedable',
 1: ['one', 1],
 (2, 'two'): 2,
 3.8: 'float'}

In [29]:
d[4]="four"

In [30]:
d

{'key': 'value',
 'key1': 'modifiedable',
 1: ['one', 1],
 (2, 'two'): 2,
 3.8: 'float',
 4: 'four'}

In [97]:
d1={1:"one",2:"two",3:"three",1:"duplicatekey"}
d1

{1: 'duplicatekey', 2: 'two', 3: 'three'}

In [ ]:
1:"duplicatekey"

In [32]:
print(dir(dict),end="")

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [43]:
d2={}
for keys,values in d1.items():
    print(keys,values,sep=",")

1,duplicatekey
2,two
3,three

In [44]:
d

{'key': 'value',
 'key1': 'modifiedable',
 1: ['one', 1],
 (2, 'two'): 2,
 3.8: 'float',
 4: 'four'}

In [45]:
d["five"]=5
d

{'key': 'value',
 'key1': 'modifiedable',
 1: ['one', 1],
 (2, 'two'): 2,
 3.8: 'float',
 4: 'four',
 'five': 5}

In [50]:
d3={1:1,2:2,3:3}
d4={4:4,5:5,6:6}
d3.update(d4)
d3

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6}

In [57]:
d1

{1: 'duplicatekey', 2: 'two', 3: 'three'}

In [56]:
d1.keys()

dict_keys([1, 2, 3])

In [58]:
d1.values()

dict_values(['duplicatekey', 'two', 'three'])

In [59]:
d1.items()

dict_items([(1, 'duplicatekey'), (2, 'two'), (3, 'three')])

**fromkeys**
- fromkeys(collection of keys,optional_default_values)

In [65]:
d5={}

In [72]:
lk=["ravi","kishore","ravikishore"]
d5=d5.fromkeys(lk,"apssdc")

In [75]:
d5["kishore"]="cse"
d5

{'ravi': 'apssdc', 'kishore': 'cse', 'ravikishore': 'apssdc'}

**get**
- get(

In [98]:
d1

{1: 'duplicatekey', 2: 'two', 3: 'three'}

In [106]:
print(d1.get("key","roll no is not found"))

roll no is not found

In [102]:
d1[4]

KeyError: 4

**setdefault**
{}.setdefault(key,optional values)
- it can add new item if key is not available

In [107]:
d1

{1: 'duplicatekey', 2: 'two', 3: 'three'}

In [111]:
d1.setdefault(4,"values")

'values'

In [112]:
d1

{1: 'duplicatekey', 2: 'two', 3: 'three', 4: 'values'}

In [113]:
d1

{1: 'duplicatekey', 2: 'two', 3: 'three', 4: 'values'}

In [114]:
d1.get(5,"key not available")

'key not available'

In [118]:
d1.setdefault(5,"key not available")

'key not available'

In [119]:
d1

{1: 'duplicatekey', 2: 'two', 3: 'three', 4: 'values', 5: 'key not available'}

**pop**
**popitems**

In [124]:
d1.pop(5)

'key not available'

In [125]:
d1

{2: 'two', 3: 'three', 4: 'values'}

In [153]:
print(d)
d

{'key': 'value', 'key1': 'value1', 1: ['one', 1], (2, 'two'): 2, 3.8: 'float'}

{'key': 'value', 'key1': 'value1', 1: ['one', 1], (2, 'two'): 2, 3.8: 'float'}

In [154]:
d.popitem()

(3.8, 'float')

In [156]:
# input name="ravikishore"
# output {r:2,a:1,v:1,i:2,k:1,s:1,h:1,o:1,e:1}
str=input()
d={}
l=list(str)
for i in l:
    c=l.count(i)
    d[i]=c
print (d)

ravikishore
{'r': 2, 'a': 1, 'v': 1, 'i': 2, 'k': 1, 's': 1, 'h': 1, 'o': 1, 'e': 1}

In [159]:
user_input=input()
names={}
for alp in user_input:
    names[alp]=user_input.count(alp)
names

ravikishore

{'r': 2, 'a': 1, 'v': 1, 'i': 2, 'k': 1, 's': 1, 'h': 1, 'o': 1, 'e': 1}

In [161]:
contacts={}

In [167]:
def add_contact(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print("added successfully")
    else:
        print(name,"already existed")
#n=int(input())
#for i in range(n):
#    n1=input().split()
#    a=n1[0]
#    b=n1[1]
#    add_contact(a,b)
#add_contact("ravi",98745)
add_contact("kishore",45612)

kishore already existed

In [165]:
contacts

{'ravi': 98745, 'kishore': 45612, 'name1': '123456', 'name2': '789456'}

In [171]:
def delcontact(name):
    if name not in contacts:
        print(name," not found")
    else:
        contacts.pop(name)
        print("delete contact")
n=input()
delcontact(n)

name2
delete contact

In [172]:
contacts

{'ravi': 98745, 'kishore': 45612}